body {
   margin-left: 20px;
   margin-right: 20px;
   margin-top: 20px;
   margin-bottom: 20px;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
   font-weight: 300;
}

.text-align-center {
   text-align: center;
}
