body {
   margin-left: 20px;
   margin-right: 20px;
   margin-top: 20px;
   margin-bottom: 20px;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
   font-weight: 300;
}

.text-align-center {
   text-align: center;
}

.flexcontainer {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-align-items: flex-start;
   align-items: flex-start;

}

.flex-container ul li {
   display: inline;
   list-style-type: none;
}

.wrap {
   flex-wrap: wrap;
}

.social-button {
   display:flex;
}

.social-button-joined {
   display: inline-block;
   text-align: center;
}
